first-app/src/main/app/async-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" basePath="/" responseTimeout="1000" doc:name="HTTP Request Configuration"/>
    <flow name="async-apiFlow" processingStrategy="non-blocking" tracking:enable-default-events="true">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/async" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="#['dummy']" mimeType="application/java" doc:name="Set Payload"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="GET" doc:name="HTTP"/>
        <dw:transform-message doc:name="extract name">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%var parts = payload splitBy " "
---
name:  parts[1]]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
